.messages {
    .mat-tab-label {
        min-width: 93.3px;
        height: 40px;
    }
    
    .content {
        padding: 0;
        height: 320px; // Slightly increased for better view
        display: block;
    }

    // Material menu overrides
    .mat-menu-content {
        padding: 0 !important;
    }
}