<div class="aswims-login-page">
    <div class="mobile-frame">
      <div class="header-section">
        <mat-icon class="stethoscope-icon">medical_services</mat-icon>
        <h1 class="app-title">ASWIMS <span>Login</span></h1>
      </div>
  
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mobile Number </mat-label>
          <input matInput formControlName="identifier" placeholder="Enter Mobile No">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="loginForm.get('identifier')?.hasError('required')">
            Identification is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('identifier')?.hasError('pattern')">
            Enter a valid 10-digit number
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button class="submit-btn" type="submit" [disabled]="loginForm.invalid">
          LOGIN
        </button>
  
        <div class="footer-links">
          <p>Don't have an account? <a routerLink="/aswims/register">Register here</a></p>
        </div>
      </form>
    </div>
  </div>